<!--menu pagina principal operador!-->
<ion-content class="fondo_amarillo">    
  <ion-item   (click)="historialservicios()" class="colorflecha">             
    <ion-label><span class="itemsmenu">Historial de Servicios</span></ion-label>
  </ion-item> 
     <ion-item   (click)="salir()" class="colorflecha">             
        <ion-label><span class="itemsmenu">Salir</span></ion-label>
       </ion-item>    
</ion-content>