<ion-header>
        <ion-navbar color="amarillo_boton">
          <button ion-button icon-only menuToggle>
                <ion-icon name="menu" ></ion-icon>
              </button>
      
          <ion-title>
           Gruas SHL
          </ion-title>
      
          <ion-buttons end>
            <button ion-button icon-only (click)="abrirmenu()">
                  <ion-icon name="options" class="colorflecha"></ion-icon>
                </button>
          </ion-buttons>
        </ion-navbar>
      </ion-header>
<ion-content class="background">      
  <ion-list >
    <ion-list-header>GRUAS SHL</ion-list-header>
    <ion-item-group reorder="false"  >                                
      <ion-item  class="fondo">                                              
        <ion-row>
          <ion-col col-4>
            Usuario: <br>{{nombre_usuario}}
          </ion-col>
          <ion-col col-4>
            Fecha: <br>   
            
          </ion-col>
          <ion-col col-4>
            Hora: <br>   
            
          </ion-col>
        </ion-row>                         
      </ion-item>
      <ion-item>                 
              <ion-label  class="titulo_global" full color="light">Ticket #: {{items2.number}}</ion-label>                                  
              <ion-label  class="titulo_global" full color="light">Cliente: {{nombre_usuario}}</ion-label>                                  
      </ion-item>
      <ion-item>
          <ion-label  class="titulo_global" full color="light">Id Servicio #: {{items2.id_servicio}}</ion-label>                                  
          <ion-label  class="descripcion_trabajo" full color="light">Trabajo: {{items2.observacion}}</ion-label>                                            
      </ion-item>
      <ion-item>
          <ion-label  class="titulo_global" full color="light">Fase Actual: {{items2.descstatusservice}}</ion-label>                                          
      </ion-item>

    </ion-item-group>
  </ion-list>
    <ion-list>
        <ion-item-group reorder="false"  >            
          <ion-item *ngIf="items2.statusservice==1">
              <ion-item >
                  <!--se agregan los botones !-->
                  <div class="boton_mediano">
                      <button ion-button full color="amarillo_boton" (click)="origendestino(items2.lat,items2.longitud,items2.tipo_usuario)" class="bordes_boton"  >Movilización (Origen-Destino)</button>
                  </div>            
                </ion-item>
                
          </ion-item>
          <!--2: ya no muestra armado !-->
          <ion-item *ngIf="items2.statusservice==2">
                <ion-item >
                        <!--se agregan los botones !-->
                        <div class="boton_mediano">
                            <button ion-button full color="amarillo_boton" (click)="origendestino(items2.lat,items2.longitud)" class="bordes_boton"  disabled="true">Movilización (Origen-Destino)</button>
                        </div>            
                      </ion-item>
                      <ion-item>
                          <div class="boton_mediano">
                              <button ion-button full color="amarillo_boton" (click)="armado()" class="bordes_boton">Armado</button>
                          </div>
                      </ion-item>                      
          </ion-item>
          <!--3: muestra desarmado y regreso destino origen!-->
          <ion-item *ngIf="items2.statusservice==3 ">                                            
                <ion-item >
                        <!--se agregan los botones !-->
                        <div class="boton_mediano">
                            <button ion-button full color="amarillo_boton" (click)="origendestino(items2.lat,items2.longitud)" class="bordes_boton" disabled="true" >Movilización (Origen-Destino)</button>
                        </div>            
                      </ion-item>
                      <ion-item>
                          <div class="boton_mediano">
                              <button ion-button full color="amarillo_boton" (click)="armado()" class="bordes_boton" disabled="true">Armado</button>
                          </div>
                      </ion-item>
                      <ion-item>
                          <div class="boton_mediano">
                              <button ion-button full color="amarillo_boton" (click)="operacion()" class="bordes_boton">Operación</button>
                          </div>
                      </ion-item>
                      
        </ion-item>
        <!--4: está en desarmado, solo puede regresar de destino a origen!-->
        <ion-item *ngIf="items2.statusservice==4 ">                                                        
                <ion-item >
                        <!--se agregan los botones !-->
                        <div class="boton_mediano">
                            <button ion-button full color="amarillo_boton" (click)="origendestino(items2.lat,items2.longitud)" class="bordes_boton"  disabled="true">Movilización (Origen-Destino)</button>
                        </div>            
                      </ion-item>
                      <ion-item>
                          <div class="boton_mediano">
                              <button ion-button full color="amarillo_boton" (click)="armado()" class="bordes_boton" disabled="true">Armado</button>
                          </div>
                      </ion-item>
                      <ion-item>
                          <div class="boton_mediano">
                              <button ion-button full color="amarillo_boton" (click)="operacion()" class="bordes_boton" disabled="true">Operación</button>
                          </div>
                      </ion-item>
                      <ion-item>
                          <div class="boton_mediano">
                              <button ion-button full color="amarillo_boton" (click)="desarmado()" class="bordes_boton">Desarmado</button>
                          </div>
                      </ion-item>
      </ion-item>

          
        </ion-item-group> 
      </ion-list>        
</ion-content>
