<ion-content class="fondo_amarillo">    
    <ion-item   (click)="menuppal()" class="colorflecha">             
      <ion-label><span class="itemsmenu">Menú Principal</span></ion-label>
    </ion-item> 
       <ion-item   (click)="salir()" class="colorflecha">             
          <ion-label><span class="itemsmenu">Salir</span></ion-label>
         </ion-item>    
  </ion-content>