<ion-header>
    <ion-navbar color="amarillo_boton">
      <button ion-button icon-only menuToggle>
            <ion-icon name="menu" ></ion-icon>
          </button>  
      <ion-title>
      Servicios Activos
      </ion-title>
  
      <ion-buttons end>
        <button ion-button icon-only (click)="abrirmenu()">
              <ion-icon name="options" class="colorflecha"></ion-icon>
            </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  
<ion-content class="background">
  <!--<form   [formGroup]="slideOneForm">  !-->

    <ion-list *ngIf="items">
          <ion-list-header>Servicios Activos</ion-list-header>
          <ion-item-group reorder="true"  >                        
            <ion-item *ngFor="let item of items" class="fondo"  (click)="dataticket(item)">Servicio #:  {{ item.number }}              
              <br>
              Operador: {{item.operador}}
              <br>
              Descripción:  {{ item.description }}              
              <br>
              Fecha Inicio: {{ item.startdate }}              
              <!--<br>
              Longitud: {{item.longitud}}
              <br>
              Latitud: {{item.lat}}!-->
              <br>              
              id: {{item.id_servicio}}
              <!--<br>
              Estado del Servicio:  {{ item.descstatusservice }}!-->
            </ion-item>
            
          </ion-item-group>
        </ion-list>
    
    
       

      
    
<!--</form>  !-->



</ion-content>