// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-header ion-icon.back-button-icon.icon {
    color: map-get($colors, dark);
}
  
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
[noScroll] {
    overflow: hidden;
  }    
.background{
        background: url("../assets/GRUAM.jpg")  no-repeat center transparent;    
                
    }    
    .titulo_inicio_sesion{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    
    .boton_pequeno
    {
        width: 50%;
        margin-left: auto; margin-right:auto;       
    }
    .bordes_boton{
        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        border: 0px solid #000000;
        color:#204699;
        font-weight: bold;
    }
    
    .logo_SHL
    {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
    .logo
    {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .scroll-content
    {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        top: 0 !important;
        bottom: 0 !important;
        
    }
    ion-card.card{
        box-shadow: none;
        background: rgba(0,0,0,0.5);
        border-radius: 5px;
    }
    a, p,
    ion-card-header.card-header{
        color: #fff;
    }
    .list > .item-block:first-child{
        border: medium none;
    }
    .list > .item-block .item-inner {
        border: medium none;
    }
    .list-md {
        margin: -1px 0 100px;
    }
    .item{
        
        margin-bottom: 10px;
        background: transparent;
        border: medium none;
        .text-input{
            color: #fff;
        }
        .label
        {color: #fff;}
        input::-moz-placeholder{
            color: #fff !important;
        }
        input:-moz-placeholder{
            color: #fff !important;
        }
        *::-webkit-input-placeholder{
            color: #fff !important;
        }
        *:-ms-input-placeholder{
            color: #fff !important;
        }
        *:-moz-placeholder{
            color: #fff !important;
        }                
    }
    .ios, .md {
      .scroll {
        height: 100%
      }
                     
      #map {
        width: 100%;
        height: 100%;
      }
    }   
    .exit{
        font-size: 40px;
        color: #fff;
        margin-left:auto;
        width: 50%;
        bottom: 10px;
        position: absolute;
        left: 50%;
    }
    .logo_mensajes{
        width: 35%;
        margin-left: auto;
        margin-right: auto;
    }
    .logo_encuesta{
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
    ion-icon {
        font-size: 40px;
        color: #fff;
      }
    .icono-inicio{
        font-size: 20px;
    }
    .derecha{
        margin-left:auto;
        width: 50%;
    }
    .icono{        
        margin-left:auto;
        margin-right: auto;
    }
     .textarea {
        border:0; 
        padding:10px; 
        font-size:1.3em; 
        font-family:"Ubuntu Light","Ubuntu","Ubuntu Mono","Segoe Print","Segoe UI";
        color:#fff; 
        border:solid 1px #FFF; 
        margin:0 0 20px; 
        width:300px;
        -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
        -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
        box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 3px; 
        -moz-border-radius: 3px; 
        border-radius: 3px;
        
        }
    .textarea:focus{
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
    }
    .div{
        background-color: #FBCD10;
        border-radius: 7px 10px 10px 10px;
        -moz-border-radius: 7px 10px 10px 10px;
        -webkit-border-radius: 7px 10px 10px 10px;
        border: 0px solid #000000;
        margin-top: 10%;
        font-size: 20px;
        
        
        
    }
    .itemsmenu{
        color: #000;
        font-weight: bold;
        font-size:120%;
    }
     .colorflecha{
        color: #000;
        
        //margin-left:5%;
    }
    .titulo_barra_amarilla
    {
        font-size: 20px;        
        margin-top: 3%;
        position: absolute;
        font-weight: bold;
        margin-left: 8%;
    }
    .class_registro
    {
        font-size: 15px;
        text-align: center;
    }
    .texto_negro    
    {
        color: #FFF;
      
    }
    
    #top #footer{
        background: red !important;
        }    
   .transparente_footer{
        background-color: transparent;
   }
   .transparente_header{
        background-color:transparent;
   }
   hr { 
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;      
        border-top: 1px solid #000;
    }

    .navbar-default {
        background-color: #0f006f;
        border-color: #030033;
    }
    .fondo_amarillo
    {
        background: #FBCD10;
    }
    .popover {
        height: auto !important;
    }