<!--<ion-menu  [content]="content">                
         <ion-content class="menu-left">           
           <div padding class="menu-left menu-bg">
             <a menuClose>            
               <h4 *ngIf = "true" ion-text color="light"> nombre </h4>
             </a>
           </div>
        
           <ion-list  class="list-full-border">
             <button ion-item menuClose *ngFor="let page of pages" (click)="openPage(page)">
               <ion-icon item-left name="{{ page.icon }}"></ion-icon>
               {{ page.title }}
               <ion-badge color="danger" item-right *ngIf="page.count">{{ page.count }}</ion-badge>
             </button>
           </ion-list>
         </ion-content>        
        </ion-menu>
<ion-nav [root]="rootPage" #content></ion-nav>!-->


<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(homePage)">
        Home
      </button>
      <button ion-item (click)="openPage(friendsPage)">
        Friends
      </button>
      <button ion-item (click)="openPage(eventsPage)">
        Events
      </button>
      <button ion-item (click)="closeMenu()">
        Close Menu
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>


