 
<ion-content class="background">
    <img src="assets/logo.png" class="logo_SHL" alt="">  
    <form   [formGroup]="slideOneForm">            
  <ion-list>            
      <ion-label  class="titulo_inicio_sesion" full color="light">Inicio de Sesión</ion-label>
    <ion-item>
      <ion-label> <ion-icon name="mail"></ion-icon></ion-label>
        <ion-input value="ulisac04@gmail.com" formControlName="email" [(ngModel)]="email" type="text" name="email" value="alguien@alguien.com" placeholder="Correo"  #usuario>            
        </ion-input>      
    </ion-item>
    <ion-item>
        <ion-label><ion-icon name="lock"></ion-icon></ion-label>
          <ion-input value="123456" formControlName="password" [(ngModel)]="password" type="password" name="password" value="123456" placeholder="Contraseña"  #contrasena>            
          </ion-input>      
      </ion-item>
      <button ion-button clear full (click)="notif()" color="light" >Olvidó la Contraseña?. &nbsp;<a href="#" (click)="registro()">Registrar</a></button>
      
  </ion-list>
  </form>
    
  <ion-footer>
        <ion-toolbar>
                <div class="boton_pequeno">
                        <button ion-button full color="amarillo_boton" (click)="iniciosesion()" class="bordes_boton">Ingresar</button>
                    </div>
        </ion-toolbar>
      </ion-footer>
  
  
</ion-content>

