<ion-content class="background" [attr.noScroll]="shouldScroll" no-bounce>
    <a href="#" (click)="saliapp"><img src="assets/logo.png" class="logo_SHL" alt=""> </a>
    <form [formGroup]="slideOneForm">
        <ion-list>
            <ion-label class="titulo_inicio_sesion" full color="light">Inicio de Sesión</ion-label>
            <ion-item>
                <ion-label>
                    <ion-icon name="mail" class="icono-inicio"></ion-icon>
                </ion-label>
                <ion-input formControlName="email" [(ngModel)]="email" type="text" name="email" placeholder="Correo" value=""
                    #usuario>
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-icon name="lock" class="icono-inicio"></ion-icon>
                </ion-label>
                <ion-input formControlName="password" [(ngModel)]="password" type="password" name="password" placeholder="Contraseña" value=""
                    #contrasena>
                </ion-input>
            </ion-item>
            <a href="#" (click)="registro()" class="class_registro">REGISTRAR</a>

        </ion-list>
    </form>
</ion-content>
<ion-footer class="transparente_footer">
    <ion-toolbar transparent>
        <div class="boton_pequeno">
            <button ion-button full color="amarillo_boton" (click)="iniciosesion()" class="bordes_boton">Ingresar</button>
        </div>
    </ion-toolbar>
</ion-footer>