<ion-header>
    <ion-navbar color="amarillo_boton">
      <button ion-button icon-only menuToggle>
            <ion-icon name="menu" ></ion-icon>
          </button>
  
      <ion-title>
       Gruas SHL
      </ion-title>
  
      <ion-buttons end>
        <button ion-button icon-only (click)="abrirmenu()">
              <ion-icon name="options" class="colorflecha"></ion-icon>
            </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
<ion-content class="background">    
  <ion-list>                    
      <ion-grid>                  
          <ion-row>
            <ion-col col-6> <a href="#" (click)="serviciosactivos()"><img src="assets/serviciosactivos.png" class="logo" alt=""></a> </ion-col>
            <ion-col col-6> <a href="#" (click)="historialservicio()"><img src="assets/historial.png" class="logo" alt=""></a> </ion-col>
          </ion-row>
          <!--<ion-row>
              <ion-col col-6><a href="#" (click)="cancelarservicio()"> <img src="assets/cancelar.png" class="logo" alt=""></a> </ion-col>
              <ion-col col-6> <img src="assets/mensajes.png" class="logo_mensajes" alt=""> </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-6> <a href="#" (click)="serviciosporcalificar()"><img src="assets/ticketsabiertos.png" class="logo" alt=""></a> </ion-col>
              <ion-col col-6> <img src="assets/ticketsespera.png" class="logo" alt=""> </ion-col>
          </ion-row>!-->
        </ion-grid>
    
    
  </ion-list>  
  
  
</ion-content>
