<ion-content class="background">
    
     <div class="icono">
         <img src="assets/sol_servicio.png" class="logo" alt="">              
     </div> 
     <form   [formGroup]="slideOneForm">   
   <ion-list>            
       <ion-label  class="titulo_inicio_sesion" full color="light">Reprogramar Servicio</ion-label>
       <ion-item>
          <ion-label>Servicio a Cancelar</ion-label>
          <ion-select [(ngModel)]="id"   formControlName="id">
              <ion-option *ngFor="let item of items_servicios let i = index" value="{{ item.id }}" >{{ item.description }}</ion-option> 
            </ion-select>
        </ion-item> 
    <ion-item>
       <ion-label> Motivo de Cancelación</ion-label>
       <ion-select [(ngModel)]="servicetype"   formControlName="servicetype">
           <ion-option *ngFor="let item of items let i = index" value="{{ item.id }}" >{{ item.description }}</ion-option> 
         </ion-select>
     </ion-item>
     <ion-item>
         <ion-label>Nueva Fecha</ion-label>&nbsp;
         <ion-label><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon></ion-label>           
        
         <ion-datetime  displayFormat="DD/MM/YYYY" [(ngModel)]="startdate" formControlName="startdate" ></ion-datetime>
         
     </ion-item>
     <ion-item>
         <ion-label>Nueva Hora</ion-label>&nbsp;
           <ion-datetime displayFormat="HH:MM " [(ngModel)]="starttime" formControlName="starttime"></ion-datetime>   
     </ion-item> 
   </ion-list><ion-list>
   <ion-item>
         <ion-label>Lugar</ion-label>      
         <ion-input type="text" formControlName="observacion" [(ngModel)]="observacion"   #empresa>            
         </ion-input>            
    </ion-item>  </ion-list>  </form> <div (click)="addMarker()" #map id="map"> </div>
   
   
   <ion-grid>
     <ion-row>
           <ion-col col-2><a href="#" (click)="menucliente()"><ion-icon name="menu"></ion-icon></a></ion-col>
           <ion-col col-6><button  ion-button  color="amarillo_boton" (click)="reprogramarservicio()" class="bordes_boton">Reprogramar</button></ion-col>
           
           <ion-col col-2><ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>  </ion-col>
           <ion-col col-2><ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon></ion-col>
      </ion-row></ion-grid>  
        <br><br>&nbsp;
     </ion-content>
   
   