 <ion-content class="fondo_amarillo">     
         <ion-item   (click)="cambiarfase(statusservice)" class="colorflecha">             
           <ion-label><span class="itemsmenu">Fin Movilizacion</span></ion-label>
         </ion-item>
         <hr>
         <ion-item   (click)="historialserviciosoperador(item)" class="colorflecha">             
            <ion-label><span class="itemsmenu">Historial de Servicios</span></ion-label>
          </ion-item>
          <hr>
         <ion-item   (click)="menuoperador()" class="colorflecha">             
             <ion-label><span class="itemsmenu">Menú Principal</span></ion-label>
            </ion-item>            
            <ion-item   (click)="salir()" class="colorflecha">             
               <ion-label><span class="itemsmenu">Salir</span></ion-label>
              </ion-item>                     
 </ion-content>
 