<ion-content class="background">
  <form [formGroup]="slideOneForm">
    <ion-list radio-group [(ngModel)]="relationship" formControlName="relationship">
        
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label  class="titulo_global" full color="light">Califique Nuestro Servicio...</ion-label>
            </ion-item>
              
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4> <img src="assets/1.png" class="logo_encuesta" alt=""> </ion-col>
          <ion-col col-8>
            <ion-item>
              <ion-label class="amarillo_boton">Insatisfecho</ion-label>
              <ion-radio value="1"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4> <img src="assets/2.png" class="logo_encuesta" alt=""> </ion-col>
          <ion-col col-8>
            <ion-item>
              <ion-label>Poco Satisfecho</ion-label>
              <ion-radio value="2"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4> <img src="assets/3.png" class="logo_encuesta" alt=""> </ion-col>
          <ion-col col-8>
            <ion-item>
              <ion-label>Conforme</ion-label>
              <ion-radio value="3"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4> <img src="assets/4.png" class="logo_encuesta" alt=""> </ion-col>
          <ion-col col-8>
            <ion-item>
              <ion-label>Satisfecho</ion-label>
              <ion-radio value="4"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4> <img src="assets/5.png" class="logo_encuesta" alt=""> </ion-col>
          <ion-col col-8>
            <ion-item>
              <ion-label>Muy Satisfecho</ion-label>
              <ion-radio value="5"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>   
        <ion-row>
            <ion-col col-12>  
                <ion-label  class="titulo_global" full color="light">Describa el Servicio</ion-label>
            </ion-col>
        </ion-row>   
        <ion-row>
            <ion-col col-12>  
                <ion-textarea  formControlName="descripcion" [(ngModel)]="descripcion" rows="3" class="textarea"></ion-textarea>   
            </ion-col>
        </ion-row>   
        
      </ion-grid>
      <ion-item>
          <div class="boton_mediano">
              <button ion-button full color="amarillo_boton" (click)="posponer()" class="bordes_boton">Posponer</button>
          </div>
      </ion-item>
      <ion-item>
          <div class="boton_mediano">
              <button ion-button full color="amarillo_boton" (click)="closeModal()" class="bordes_boton">Finalizar</button>
          </div>
      </ion-item>
    </ion-list>
    <!--<ion-list radio-group [(ngModel)]="relationship" formControlName="relationship">
    <ion-item>
        <img src="assets/logo.png" class="logo" alt="">
      <ion-label>Friends</ion-label>
      <ion-radio value="0" checked> </ion-radio>

    </ion-item>
    <ion-item>
      <ion-label>Family</ion-label>
      <ion-radio value="family"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Enemies</ion-label>
      <ion-radio value="enemies" [disabled]="isDisabled"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-input type="text" formControlName="descripcion" [(ngModel)]="descripcion" placeholder="Descripcion">
      </ion-input>
    </ion-item>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Cerrar

    </button>
    </ion-buttons>
  </ion-list>!-->
  </form>
</ion-content>