<ion-header>
    <ion-navbar color="amarillo_boton">
      <button ion-button icon-only menuToggle>
                  <ion-icon name="menu"></ion-icon>
                </button>
  
      <ion-title *ngIf="items2.statusservice==2">Armado</ion-title>
      <ion-title *ngIf="items2.statusservice==3">Operación</ion-title>
      <ion-title *ngIf="items2.statusservice==4">Desarmado</ion-title>
  
      <ion-buttons end>                              
        <button ion-button icon-only (click)="abrirmenu(tipo_usuario,items.id_service,items2.statusservice)">
                    <ion-icon name="options"  class="colorflecha icono-inicio"></ion-icon>
        </button>                 
      </ion-buttons>
    </ion-navbar>
  </ion-header>
<ion-content class="background">
  <a href="#" (click)="saliapp"><img src="assets/logo.png" class="logo" alt=""> </a>
  <form [formGroup]="slideOneForm">
    <ion-list >
      <!--<ion-label class="titulo_inicio_sesion" full color="light" *ngIf="items2.statusservice==1">Armado del Equipo</ion-label>
      <ion-label class="titulo_inicio_sesion" full color="light" *ngIf="items2.statusservice==2">Operación del Equipo</ion-label>
      <ion-label class="titulo_inicio_sesion" full color="light" *ngIf="items2.statusservice==3">Desarmado del Equipo</ion-label>!-->
      <div class="boton_pequeno">
        <button ion-button full color="amarillo_boton" (click)="takePhoto()" class="bordes_boton "><ion-icon name="camera" class="icono-inicio"></ion-icon>&nbsp; &nbsp;Tomar Foto</button>
      </div>
      <br>
      <div class="boton_pequeno">
          <button ion-button full color="amarillo_boton" (click)="generarEvento(items2.statusservice)" class="bordes_boton"><ion-icon name="md-arrow-dropup-circle" class="icono-inicio"></ion-icon>&nbsp; &nbsp;Registrar Evento</button>
        </div>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let photo of photos; let id = index">
          <ion-card class="block">
            <ion-icon name="trash" class="deleteIcon " (click)="deletePhoto(id)"></ion-icon>
            
            <img [src]="photo" *ngIf="photo">          
            <ion-icon name="md-cloud-upload" class="deleteIcon" (click)="upPhoto(id,items2.statusservice)"></ion-icon>
           
          </ion-card>
        </ion-col>
        
      </ion-row>
      
    </ion-grid>                 
    <ion-item >
        <button ion-button clear full  color="light" ><a href="#" (click)="finalizarFase(items2.statusservice)">Finalizar Fase</a></button>
    </ion-item>
  </form>  
</ion-content>