<ion-content class="background">
     <form   [formGroup]="slideOneForm">  
  <ion-list>            
      <ion-label  class="titulo_inicio_sesion" full color="light">Registrar Clientes</ion-label>
    <ion-item>      
        <ion-input type="text"   formControlName="name" [(ngModel)]="name" placeholder="Nombre"  #nombre>            
        </ion-input>      
    </ion-item>
    <ion-item>      
        <ion-input type="text"  formControlName="lastname" [(ngModel)]="lastname" placeholder="Apellido"  #nombre>            
        </ion-input>      
    </ion-item>
    <ion-item>      
        <ion-input type="text"   formControlName="business" [(ngModel)]="business" placeholder="Empresa"  #empresa>            
        </ion-input>      
    </ion-item>
    <ion-item>      
        <ion-input type="text"   formControlName="phone" [(ngModel)]="phone" placeholder="Teléfono"  #telefono>            
        </ion-input>      
    </ion-item>
    <ion-item>      
        <ion-input type="text"  formControlName="address" [(ngModel)]="address" placeholder="Dirección"  #direccion>            
        </ion-input>      
    </ion-item>
    <ion-item>      
        <ion-input type="email"    formControlName="email" [(ngModel)]="email" placeholder="Correo"  #correo>            
        </ion-input>      
    </ion-item>
    <ion-item>      
        <ion-input type="password"    formControlName="password" [(ngModel)]="password" placeholder="Contraseña"  #contrasena>            
        </ion-input>      
    </ion-item>
    <ion-item>      
        <ion-input type="password"    formControlName="password_repeat" [(ngModel)]="password_repeat" placeholder="Confirmar Contraseña"  #confirmar>            
        </ion-input>      
    </ion-item>
  </ion-list>  
   </form>  
  <div class="derecha">
   <a href="#" (click)="menucliente()"><ion-icon name="menu"></ion-icon></a> 
    &nbsp; &nbsp;  &nbsp;
    <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
    &nbsp; &nbsp;  &nbsp;
    <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
  </div>
  <br>
  <div class="boton_pequeno">
      <button ion-button full color="amarillo_boton" (click)="registro()" class="bordes_boton">Registro</button>
  </div>
  
</ion-content>
