<!--<ion-header>    
      <ion-navbar color="amarillo_boton">
        <button ion-button menuToggle>
          <ion-icon name="menu" slide="left"></ion-icon>
        </button>
        <ion-buttons end>
          <a href="#" (click)="finalizarFase(1)"class="texto_negro">Finalizar Fase</a>
          <button ion-button (click)="addMarker()">
            <ion-icon name="pin"></ion-icon>
          </button>
          <button ion-button (click)="addMarker2()">
            <ion-icon name="flag"></ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>
    
    </ion-header>!-->

<ion-header>
  <ion-navbar color="amarillo_boton">
    <button ion-button icon-only menuToggle>
                <ion-icon name="menu"></ion-icon>
              </button>

    <ion-title>
      Movilización
    </ion-title>

    <ion-buttons end>
        <a href="#" (click)="finalizarFase(1)"class="texto_negro"><span class="colorflecha">Finalizar Fase</span></a>
        <button ion-button (click)="addMarker()">
          <ion-icon name="pin" class="colorflecha icono-inicio"></ion-icon>
        </button>
        <button ion-button (click)="addMarker2()">
          <ion-icon name="flag" class="colorflecha icono-inicio"></ion-icon>
        </button>
      <button ion-button icon-only (click)="abrirmenu(tipo_usuario,id_servicio,statusservice)">
                  <ion-icon name="options"  class="colorflecha icono-inicio"></ion-icon>
      </button>
               
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
    
  <div #map id="map"> </div>
</ion-content>